body {
  background-color: #e6b8e6; 
  padding: 0; 
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
}






.color-picker-heading {
  text-align: center;
}

button {
  background: #2add27;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.selected-color-box {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  border-radius: 30px;
}

.selected-color-box button {
  background: #2add27;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.color-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}

.color-option {
  width: 45px;
  height: 45px;
  margin: 6px;
  cursor: pointer;
  transition: background-color 0.3s; 
  border-radius: 10px;
}

.color-option:hover {
  transform: scale(1.09); 
}
